/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo-booki img{
    width: 61px ;
    height: 19px ;
    display: flex;
    margin-top: 30%;
    margin-bottom: 80%;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: flex;
    gap: 50px;
    list-style: none;
}

.lien-hebergements:hover {
    color:#0065FC;
    border-top : solid blue;
    padding-top: 5%;
}

.lien-activites:hover {
    color: #0065FC;
    border-top : solid blue;
    padding-top: 5%;
}

.barre-recherche {
    display: flex;
}

.barre-recherche i {
    background-color: #F2F2F2;
    width: 20px;
    height: 32px;
    display: inline-flex;
    align-items: center;
}

.filtres {
    font-weight: 700;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.afficher {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

footer {
    background-color: var(--main-bg-color);
    padding: 30px 50px;
    margin-top: 50px;
}

.pied-de-page {
    display: flex;
    justify-content: flex-start ;
    gap: 20%; 
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 5px;
}

.titre-footer {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
}

::placeholder {
    color: black;
    font-weight: bold;
}
.search-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
}


.content-footer {
    margin-bottom: 20px;
}

.filter-button {
    background: none;
    border: 2px solid #D9D9D9;
    border-radius: 25px; 
    padding: 0 20px;
    height: 50px; 
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-button:hover {
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

.barre-filtre {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

footer {
background-color: #F2F2F2;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.info-icon-container {
    border: 1px solid #D9D9D9; 
    border-radius: 50%;        
    width: 24px;             
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.info-icon-container i {
    color: #0065FC;            
    font-size: 12px;          
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 20px;
    padding: 10px;       
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-cards{
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;  
    margin-top: 20px;
}


.hebergements-cards a {
    width: calc(33.33% - 20px);
    text-decoration: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    height: 100%; 
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-content {
    padding: 8px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/

.activites-cards {
    display: flex;
    gap: 30px;  
    margin-top: 20px;
}

.activites-cards a {
    width: calc(25% - 22.5px); 
    text-decoration: none;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0; 
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-title {
    padding: 20px; 
    margin: 0;
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}