/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.logo-booki img{
    width: 61px ;
    height: 19px ;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    gap: 100px;
}

.lien-nav {
    border-top: 2px solid transparent;
    padding-top: 20px;
}

.lien-nav:hover {    
    color:#0065FC;
    border-top: 2px solid var(--main-color);
}

.barre-recherche {
    display: flex;
    border-radius: 15px;
    border: 1px #F2F2F2;
    margin-top: 30px;
}

.barre-recherche i {
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.search-button {
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
}

.search-input {
    text-align: center;
    border: 1px solid #F2F2F2;
    font-weight: 700;
    font-size: 18px;
}

.filtres {
    font-weight: 700;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

.entete {
    gap: 35px;
    margin-top: 0;
}

.afficher {
    display: block;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.titre-activités {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
    font-size: 22px;
    padding-left: 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle{
    font-size: 14px;
    font-weight: 400;
}

.sous-titre {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

footer {
    background-color: var(--main-bg-color);
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}

.pied-de-page {
    display: flex;
    justify-content: flex-start ;
    gap: 15%; 
}

footer ul {
    list-style: none;
    padding: 0;
}

.titre-footer {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
}

::placeholder {
    color: black;
}

.content-footer {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
}

.filter-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.filter-button {
    background: none;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding-top: 4px;
    padding-right: 19px;
    padding-bottom: 4px;
    padding-left: 19px;
    border-radius: 25px;
    border-width: 2px;
}

.filter-button:hover {
    background-color: #DEEBFF;
    border-color: #D9D9D9;
}

.barre-filtre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    width: 100%;
}


.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    margin-top: 30px;
}

.info-icon-container {
    border: 1px solid #D9D9D9; 
    border-radius: 50%;        
    width: 24px;             
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.info-icon-container i {
    color: #0065FC;            
    font-size: 12px;          
}

.entete .card-title,
.info .card-title {
    font-weight: 400;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 871px;
    gap: 30px;
    border-radius: 15px;
}
.hebergements-cards{
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;  
    margin-top: 20px;
}


.hebergements-cards a {
    width: 30%;
    text-decoration: none;
}

.hebergements-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    height: 100%; 
    box-sizing: border-box;
}

.hebergements-cards .card img {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding: 8px;
}

.hebergements-cards .card-title {
    margin-top: 0px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-top: 10px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: end;
    gap: 3px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/

.activites {
    width: 100%;
    gap: 30px;
    padding-top: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;  
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.activites-cards a {
    width: 25%; 
    text-decoration: none;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0; 
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-title {
    padding: 20px; 
    margin: 0;
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .barre-filtre {
        flex-direction: column;
        align-items: flex-start;
    }

    .activites-cards img {
        height: 200px;
    }

    .filter-button {
        height: 50px;
        font-size: 16px;
        font-weight: 700;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        padding: 0;
        margin: 0;
    }

    .main-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .logo-booki {
        padding-left: 30px;
    }

    .nav-link {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
    }

    .lien-nav {
        width: 100%;
        border-top: none;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 20px;
    }

    .lien-nav:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
    }

    .barre-recherche {
        width: 95%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #F2F2F2;
    }

    .search-input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border: none;
    }

    .barre-recherche i {
        width: 50px;
        min-width: 50px;
        height: 50px;
        border-radius: 15px 0px 0px 15px;
        padding-left: 0;
        margin: 0;
    }
    
    .search-button {
        width: 50px;
        height: 50px;
        min-width: 50px;
        padding: 10px;
        font-size: 0; 
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
    }

    .search-button::before {
        font-family: "Font Awesome 6 Free";
        content: "\f002";
        font-weight: 900; 
        font-size: 18px;
    }

    .hebergements-and-populaires section, 
    footer {
        border-radius: 0;
        width: 100%;
        padding: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires .hebergements {
        width: 100%;
        background-color: white;
        margin-top: 10px;
    }

    .afficher{
        margin-top: 10px;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin: 0;
        order: -1;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .activites-cards {
        flex-direction: column;
        gap: 20px;
    }

    .activites-cards a {
        width: 100%;

    }
    
    .activites-cards img {
        height: 150px;
    }

    .activites {
        margin-bottom: 60px;
    }

    .pied-de-page {
        flex-direction: column;
        gap: 20px; 
    }

    h1 , .sous-titre , .filtres, .filter-list, .barre-recherche, .info{
        padding-left: 20px;
    }

    .titre-activités {
        padding-left: 20px;
    }

    .filter-button {
        width: 100%;
    }

    .filter-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }

    .fa-person, .fa-heart, .fa-fire, .fa-money-bill-wave {
        font-size: 22px;
    }

    .info-icon-container{
        min-width: 24px;
        min-height: 24px;
    }

}
